// Colores
    $active : linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    $error : hsl(0, 100%, 66%);
    $blanco: hsl(0, 0%, 100%);
    $violetaClaro: hsl(270, 3%, 87%);
    $violetaOscuro: hsl(279, 6%, 55%);
    $violetaNegro: hsl(278, 68%, 11%);

// Fuentes
    $spaceGrotesk: 'Space Grotesk', sans-serif;
